@model MedicalSupport.ViewModels.Devices.DeviceIndexViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Device</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUsedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUsedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastPlaceLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastPlaceLeft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsServiceObligatory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsServiceObligatory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastServiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastServiceDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
